div#dSlider	
	.dPreview
		width: 75%		
		height: 150px
		ul
			height: inherit
			width: 6000px
			display: inline-block
			list-style: none
			li
				height: inherit
				float: left
				margin-left: 0.5em
				padding: 0
				img
					height: inherit
					border-radius: 6px
	.dImgShow
		width: 75%		
		margin-left: auto
		margin-right: auto
		img
			height: inherit
			border-radius: 10px
			box-shadow: 0 0 10px #888888
//ul
	background: black
	height: 150px
	width: 6000px
	display: inline-block
	list-style: none
	li
		height: inherit
		float: left
		margin: 0
		padding: 0
		img
			height: inherit